<app-create-content (addme)="addNewdevice($event)"></app-create-content>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search">
                <i class="fa fa-search"></i> <input type="text" id="mvnm" #mvnm class="form-control" placeholder="Search device">
                <button (click)="isdevice(mvnm.value)" class="btn btn-primary">Search</button> &nbsp;
                <div *ngIf="found" class="btn btn-success w-75">DEVICE FOUND</div> &nbsp;
                <div *ngIf="notfound" class="btn btn-danger w-75">DEVICE NOT FOUND</div>
            </div>
        </div>
    </div>
</div>


<h1 align="center">ALL THE DEVICES</h1>


<div class="content-wrapper">
    <ng-container *ngFor="let device of (arr | contentPipe)">
    <div class="content-items-wrapper"  *ngIf="device.title !==ttl">
     
         <img (click)="deviceInfo(device)" *ngIf="device.imgURL !== ''" src={{device.imgURL}} class="card-img-top">
                <img (click)="deviceInfo(device)" *ngIf="device.imgURL === ''" src="https://images.firstpost.com/fpimages/1200x800/fixed/jpg/2017/10/Apple-iPhone-8-768.png" class="card-img-top">
        <div class="content-card" >
          
            <h3 class="title"> {{device.title}} </h3>
            <div><span class="id"> {{device.id}} </span></div>
            <div><span class="description"> {{device.description}}</span></div>
            <div class="creator"> {{device.creator}} </div>
            <div class="content-type" my-affect="hve" class="btn text-center">{{device.type}} </div>
        
            <div class="content-tags-wrapper">
                <span class="content-tags" my-affect="tagbd" *ngFor="let tag of device.tags">{{tag}} </span>
            </div>
        </div>
         
</div> 
</ng-container>     
</div> 

<h1 align="center">Smart Phones</h1>

<div class="content-wrapper-mobile">
    <ng-container *ngFor="let device of (arr | contentPipe)">
    <div class="content-items-wrapper" >
       
        
        <img (click)="deviceInfo(device)" *ngIf="device.imgURL !== ''" src={{device.imgURL}} class="card-img-top">
        <img (click)="deviceInfo(device)" *ngIf="device.imgURL === ''" src="https://images.firstpost.com/fpimages/1200x800/fixed/jpg/2017/10/Apple-iPhone-8-768.png" class="card-img-top">
       
        <div class="content-card">


            <h3 class="title"> {{device.title}} </h3>
            <div><span class="id"> {{device.id}} </span></div>
            <div><span class="description"> {{device.description}}</span></div>
            <div class="creator"> {{device.creator}} </div>
            <div class="content-type" my-affect="hve" class="btn text-center">{{device.type}} </div>
            
            <div class="content-tags-wrapper">
                <span class="content-tags" my-affect="tagbd" *ngFor="let tag of device.tags">{{tag}} </span>
            </div>
        </div>
    </div>
</ng-container>
</div>


<br>
<h1 align="center">Tablets</h1>

<div class="content-wrapper-tablet">
   
    <ng-container *ngFor="let device of (arr | contentPipe)">
    <div class="content-items-wrapper" >
       
        <img (click)="deviceInfo(device)" *ngIf="device.imgURL !== ''" src={{device.imgURL}} class="card-img-top">
        <img (click)="deviceInfo(device)" *ngIf="device.imgURL === ''" src="https://images.firstpost.com/fpimages/1200x800/fixed/jpg/2017/10/Apple-iPhone-8-768.png" class="card-img-top"> 

        <div class="content-card">
            <h3 class="title"> {{device.title}} </h3>
            <div><span class="id"> {{device.id}} </span></div>
            <div><span class="description"> {{device.description}}</span></div>
            <div class="creator"> {{device.creator}} </div>
            <div class="content-type" my-affect="hve" class="btn text-center">{{device.type}} </div>
           
            <div class="content-tags-wrapper">
                <span class="content-tags" my-affect="tagbd" *ngFor="let tag of device.tags">{{tag}} </span>
            </div>
        </div>
    </div>
</ng-container>
</div>
