.content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.content-items-wrapper {
    width: 30%;
    border: 1px solid #d8d8dd;
}

.content-card {
    text-align: center;
    margin: 0 5px;
}

.content-image img {
    width: 50px;
    height: 50px;
}

.content-tags {
    border: 1px solid #d8d8dd;
    width: 100%;
} 

.hve{
    text-decoration: underline;
    
}
.tagbd{
    font-weight: bold; 
}



//


.content-wrapper-mobile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-style: oblique;
    color: blue;
    background-color: antiquewhite;
}

.content-items-wrapper {
    width: 30%;
    border: 1px solid #d8d8dd;
}

.content-card {
    text-align: center;
    margin: 0 5px;
}

.content-image img {
    width: 50px;
    height: 50px;
}

.content-tags {
    border: 1px solid #d8d8dd;
    width: 100%;
} 

.hve{
    text-decoration: underline;
    
}
.tagbd{
    font-weight: bold; 
}



// 

.content-wrapper-tablet {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-style: italic;
    color: white;
    background-color: rosybrown;
}

.content-items-wrapper {
    width: 30%;
    border: 1px solid #d8d8dd;
}

.content-card {
    text-align: center;
    margin: 0 5px;
}

.content-image img {
    width: 50px;
    height: 50px;
}

.content-tags {
    border: 1px solid #d8d8dd;
    width: 100%;
} 

.hve{
    text-decoration: underline;
    
}
.tagbd{
    font-weight: bold; 
}


