<div *ngIf="messageService.messages.length">
   <div class="content-message">
    <h2>Messages</h2>
    <button mat-flat-button color="warn" type="button" class="clear" (click)="messageService.clear()">Clear messages</button>
    <div *ngFor='let message of messageService.messages'> {{message.message}} </div>
   </div>  
</div>





<h1 align="center">ALL THE DEVICES</h1>


<div class="content-wrapper">
    <ng-container *ngFor="let device of (arr)">
        <mat-card>
            <mat-card-content>
                <div class="content-items-wrapper" *ngIf="device.title !==ttl">
                    <div class='content_image_wrapper'>
                        <img (click)="deviceInfo(device)" *ngIf="device.imgURL !== ''" src={{device.imgURL}} class="card-img-top">
                    </div>
                    <div class="card_content">
                        <h3 class="title"> {{device.title}} </h3>
                        <div><span class="id"> {{device.id}} </span></div>
                        <div><span class="description"> {{device.description}}</span></div>
                        <div class="creator"> {{device.creator}} </div>
                        <div class="content-type" my-affect="hve" class="btn text-center">{{device.type}} </div>
                        <mat-chip-list>
                            <mat-chip *ngFor="let tag of device.tags">{{tag}} </mat-chip>
                        </mat-chip-list>
                        <div class="open-content-detail_wrapper">
                            <button mat-flat-button color="primary" (click)="travelToContentDetail(device.id)">
                                Clcik here to see detail of this device..
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        
    </ng-container>
</div>

<h1 align="center">Smart Phones</h1>

<div class="content-wrapper-mobile">
    <ng-container *ngFor="let device of (arr)">
        <mat-card *ngIf="device.type === 'Smart Phone'">
            <mat-card-content>
                <div class="content-items-wrapper">
                    <div class='content_image_wrapper'><img (click)="deviceInfo(device)" *ngIf="device.imgURL !== ''"
                            src={{device.imgURL}} class="card-img-top"></div>
                    <div class="content-card">
                        <h3 class="title"> {{device.title}} </h3>
                        <div><span class="id"> {{device.id}} </span></div>
                        <div><span class="description"> {{device.description}}</span></div>
                        <div class="creator"> {{device.creator}} </div>
                        <div class="content-type" my-affect="hve" class="btn text-center">{{device.type}} </div>
                        <div class="content-tags-wrapper">
                        <mat-chip-list>
                            <mat-chip *ngFor="let tag of device.tags">{{tag}} </mat-chip>
                        </mat-chip-list>    
                        </div>
                        <div class="open-content-detail_wrapper">
                            <button mat-flat-button color="primary" (click)="travelToContentDetail(device.id)">
                                Clcik here to see detail of this device..
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>


<br>
<h1 align="center">Tablets</h1>

<div class="content-wrapper-tablet">
    <ng-container *ngFor="let device of (arr)">
        <mat-card *ngIf="device.type === 'tablet'">
            <mat-card-content>
                <div  class="content-items-wrapper">
                    <div class="content_image_wrapper"><img (click)="deviceInfo(device)" *ngIf="device.imgURL !== ''"
                            src={{device.imgURL}} class="card-img-top"></div>
                    <div class="content-card">
                        <h3 class="title"> {{device.title}} </h3>
                        <div><span class="id"> {{device.id}} </span></div>
                        <div><span class="description"> {{device.description}}</span></div>
                        <div class="creator"> {{device.creator}} </div>
                        <div class="content-type" my-affect="hve" class="btn text-center">{{device.type}} </div>
                        <mat-chip-list>
                            <mat-chip *ngFor="let tag of device.tags">{{tag}}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="open-content-detail_wrapper">
                        <button mat-flat-button color="primary" (click)="travelToContentDetail(device.id)">
                            Clcik here to see detail of this device..
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>

