.content-wrapper, .content-wrapper-mobile, .content-wrapper-tablet {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
    align-items: stretch;
    .content-items-wrapper {
        border: 1px solid #d8d8dd;
        border-radius: 5px;
        margin: 0;
        height: 100%;
        .content_image_wrapper {
            width: 100%;
            min-height: 300px;
            max-height: 300px;
            background: transparent;
            img {
                height: 300px;
                max-width: 100%;
            }
        }
        .card_content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 5px 5px;
            height: 40%;
            min-height: 300px;
            font-size: 1.5em;
            .content-tags-wrapper {
                border: 1px solid #070707;
                .content-tags {
                    width: 100%;
                } 
            }
        }
    }
}

.content-message {
    text-align: center;
    font-size: 3vh;
    color: #e44848;
}
