<div class="content-wrapper">
    <div class="content-items-wrapper" *ngFor="let content of contentItems">
        <div class="content-card">
            <h3 class="title"> {{content.title}} </h3>
            <div><span class="id"> {{content.id}} </span></div>
            <div><span class="description"> {{content.description}}</span></div>
            <div class="creator"> {{content.creator}} </div>
            <div class="content-type">{{content.type}} </div>
            <div class="content-image" (click)="onImageClick(content.id, content.title)"><img *ngIf="content.imgURL" src="{{content.imgURL}}"></div>
            <div class="content-tags-wrapper">
                <span class="content-tags" *ngFor="let tag of content.tags">{{tag}} </span>
            </div>
        </div>
    </div>
</div>
