<div class="add_content_form_wrapper">
    <div class="add_content_form">
        <div>
            Item Id: <input #id>
        </div>
        <div>
            Title: <input #title>
        </div>
        <div>
            Description: <input #description>
        </div>
        <div>
            Type: <input #type>
        </div>
        <div>
            Creator: <input #creator>
        </div>
        <div>
            Imagr URL: <input #imageURL>
        </div>
        <div>
            tags: <input #tags>
        </div>
        <div>
            <button #addButton id="addContentButton" (click)="addContent(id.value, title.value, description.value, type.value, creator.value, imageURL.value, tags.value)">Add Content Item</button>
            <!-- <button (click)="updateContent(id.value, title.value, description.value, type.value, creator.value, imageURL.value, tags.value)">Update Content Item</button> -->
        </div>
    </div>
</div>