<!-- <div class="form-row">
    <div class="col-md-5 mb-3">
        <label for="ID">Enter ID of device</label>
        <input type="number" class="form-control" id="ID" #id placeholder="Enter Id">
    </div>
    <div class="col-md-5 mb-3">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" #title placeholder="title">
    </div>
    <div class="col-md-5 mb-3">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" #description placeholder="description">
    </div>
    <div class="col-md-5 mb-3">
        <label for="creator">creator</label>
        <input type="text" class="form-control" id="creator" #creator placeholder="creator">
    </div>
    <div class="col-md-5 mb-3">
        <label for="ImageURL">ImageURL</label>
        <input type="url" class="form-control" id="ImageURL" #imageURL placeholder="ImageURL">
    </div>
    <div class="col-md-5 mb-3">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" #type placeholder="Type">
    </div>
    <div class="col-md-5 mb-3">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" #tags placeholder="Tags separated by ,">
    </div>
</div> --> 

<div>
    ID: <input [(ngModel)]="Id">
</div>
<div>
    Title: <input [(ngModel)]="newdevice.title">
</div>

<div>
    description: <input [(ngModel)]="newdevice.description">
</div>

<div>
    Creator: <input [(ngModel)]="newContent.creator">
</div>

<div>
    Image: <input [(ngModel)]="newdevice.ImageURL">
</div>

<div>
    Type: <input [(ngModel)]="newdevice.type">
</div>

<div>
    Tags: <input [(ngModel)]="Tags">
</div>

<div>
    <button (click)="adddevice()">Add New device</button>
</div>
<div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
</div>

<!-- <button (click)="adddevice(id.value, title.value, description.value, creator.value, imageURL.value, type.value, tags.value)">Add device Item</button>
<div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
</div> -->